body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #004FB4;
    color: white;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-menu a, .navbar-login a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-menu a:hover, .navbar-login a:hover {
    color: #00C896;
}

.navbar-user {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.sumarProducto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 200px;
}

.sumarProducto .mas {
    display: flex;
    font-size: 150px;
    line-height: 150px;
    display: block;
    margin: 0 auto;
    color: #333;
}

.contenedorFila {
    display: flex;
    margin-top: 10px;
    justify-content: center; 
}

button {
    background-color: #00C896;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #00a380;
}

#formularioContainer {
    margin-top: 10px;
    text-align: center;
    display: none;
}

form input[type="text"],
form input[type="number"],
form input[type="file"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #004FB4;
    color: white;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.producto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 200px;
}

.producto:hover {
    transform: scale(1.05);
}

.producto-imagen {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
@keyframes salto {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#usuarioNombre {
    display: inline-block;
    animation: salto 0.5s ease-in-out infinite;
    animation-duration: 0.5s; /* Duración de un ciclo */
    animation-timing-function: ease-in-out; /* Efecto de aceleración y desaceleración */
    animation-iteration-count: 15; /* Número de repeticiones para 15 segundos (15s / 0.5s = 30 ciclos) */
}
