html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que ocupen toda la pantalla */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Mantiene el fondo fijo mientras se hace scroll */
    font-family: Arial, sans-serif;
}

/* Estilo de Bienvenida */

    .bienvenida {
        
        text-align: center;
        font-size: 3em;
        margin-top: 40px;
        font-weight: 600;
        
    }
    
    .bienvenida span {
        font-size: 1.5em;
       
    }
    

    .llamado-accion {
       
        text-align: center;
        font-size: 2em;
        border-radius: 8px;
        font-weight: 500;
    }

    .bd{
        display: inline; 
        background-color: #f5f5f55e;
               text-shadow:  0 0 1px rgba(0, 0, 0, 0.8), 
                     0 0 30px white;   
        
    }

.navbar {    
    color: white;
    padding: 10px;
}

div.navbar-container {
    background-color: #0a000080;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding: 3px 20px;
}

.navbar-brand {
    font-size: 24px;
    color: #FFCE00; 
    font-weight: 600;
}

.navbar-menu {
    display: flex;
    gap: 20px; /* Espacio entre los enlaces */
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

.navbar-menu a:hover {
    color: #FFCE00;
}


.navbar-login {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.login-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.centrar-ingre {
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.ingre {
    width: 150px; 
    height: auto; 
    transition: transform 0.3s ease, opacity 0.3s ease; 
    animation: mover-lados 4s ;

}
    @keyframes mover-lados {
        0% {
            transform: translateX(0); /* Posición inicial */
        }
        25% {
            transform: translateX(-10px); /* Mueve a la izquierda */
        }
        50% {
            transform: translateX(10px); /* Mueve a la derecha */
        }
        75% {
            transform: translateX(-10px); /* Regresa a la izquierda */
        }
        100% {
            transform: translateX(0); /* Vuelve al centro */
        }
    }
    
    

.ingre:hover {
    transform: scale(1.1); 
    opacity: 0.8; 
}
